<div>
    <h1>Distancia entre dos numeros</h1>
    <form [formGroup]="formulario2">
        <div>
            <label for="">Numero 1</label>
            <input formControlName="numero1" type="number">
        </div>
        <div>
            <label>Numero 2</label>
            <input formControlName="numero2" type="number">
        </div>
        <div>
            <label>Numero 3</label>
            <input formControlName="numero2" type="number">
        </div>
        <div>
            <label>Numero 4</label>
            <input formControlName="numero2" type="number">
        </div>
        <button (click)="sumarNumeros()">Sumar</button>
        <h3>Distancia: {{resultado}}</h3>
    </form>
</div>